@page "/login"
@using FindE.Features.Conta.Models
@inject FindE.Features.Conta.Services.ContaService contaService
@inject NavigationManager navigationManager
@inject IToastService toastService

<div class="section container">
    <div class="row full-height justify-content-center">
        <div class="col-12 text-center align-self-center py-5">
            <div class="section pb-5 pt-5 pt-sm-2 text-center">
                <h6 class="mb-0 pb-3"><span>Entrar </span><span>Cadastrar-se</span></h6>
                <input class="checkbox" type="checkbox" id="reg-log" name="reg-log" />
                <label for="reg-log"></label>
                <div class="card-3d-wrap mx-auto">
                    <div class="card-3d-wrapper">
                        <div class="card-front">
                            <div class="center-wrap">
                                <div class="section text-center">
                                    <h4 class="mb-4 pb-3">Entrar</h4>
                                    <div class="form-group">
                                        <input type="email" class="form-style" placeholder="Usuário" autocomplete="off">
                                        <i class="input-icon uil uil-at"></i>
                                    </div>
                                    <div class="form-group mt-2">
                                        <input type="password" class="form-style" placeholder="Senha" autocomplete="off">
                                        <i class="input-icon uil uil-lock-alt"></i>
                                    </div>
                                    <a href="#" class="btn mt-4">Entrar</a>
                                    <p class="mb-0 mt-4 text-center"><a href="#0" class="link">Esqueceu sua senha?</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="card-back">
                            <div class="center-wrap">
                                <form class="section text-center" @onsubmit="GravarConta">
                                    <h4 class="mb-4 pb-3">Cadastrar-se</h4>
                                    <div class="form-group">
                                        <input @bind="Conta.Usuario" type="text" class="form-style" placeholder="Usuário" autocomplete="off" required>
                                        <i class="input-icon uil uil-user"></i>
                                    </div>
                                    <div class="form-group mt-2">
                                        <input @bind="Conta.Senha" type="password" class="form-style" placeholder="Senha" autocomplete="off" required>
                                        <i class="input-icon uil uil-at"></i>
                                    </div>
                                    <div class="form-group mt-2">
                                        <select @bind="Conta.Perfil" class="form-style">
                                            <option value="1">Empresa</option>
                                            <option value="2" selected>Estagiário</option>
                                        </select>
                                        <i class="input-icon uil uil-user"></i>
                                    </div>
                                    <button type="submit" class="btn mt-4">Cadastrar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

    private ContaModel Conta = new ContaModel();

    private async Task GravarConta()
    {
        try
        {
            await contaService.InserirConta(Conta);
            toastService.ShowSuccess("Conta inserida com sucesso.", "Tudo ok!");

            navigationManager.NavigateTo("/");
        }
        catch (Exception ex)
        {
            toastService.ShowError(ex.Message, "Erro ao cadastrar conta");
        }
    }
}
