@page "/listagem"

<div>
    <div class="container-fluid" style="padding: 5px">
        <div class="row g-2">
            <div class="col-md-6">
                <h5>Estágiarios que estão cadastradas</h5>
            </div>
            <div class="table-responsive">
                <table class="table table-responsive-sm table-striped table-hover">
                    <thead>
                        <tr>
                            <th style="width: 80px" , valign="middle">Id</th>
                            <th>Usuário</th>
                            <th class="thBadgeCustom">Perfil</th>
                            <th><span class="float-sm-end">Ações</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">2</th>
                            <td>Guilherme</td>
                            <td>Adm</td>
                            <td>
                                <div class="float-sm-end">
                                    <button type="button" class="btn btn-primary btn-sm" title="Alterar conta">
                                        <div class="bi bi-pencil"></div>
                                    </button>
                                    <button type="button" class="btn btn-danger btn-sm" title="Apagar conta">
                                        <div class="bi bi-trash"></div>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@code {

}
