@page "/listagem"

<table class="table caption-top">
    <caption>Lista de Estágiarios</caption>
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Curso</th>
            <th scope="col">Série</th>
            <th scope="col">Instituição</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>Judas</td>

        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>ETEC</td>
            <td>FATEC</td>
            <td>CLEBER</td>
        </tr>
    </tbody>
</table>
<button type="button" class="btn btn-primary">Salvar</button>
<button type="button" class="btn btn-primary bi bi-pencil">
    Editar
</button>

@code {

}
