@page "/kenyeWest"
@using FindE.Features.KenyeWest.Models
@inject FindE.Features.KenyeWest.Services.CitacaoService citacaoService
@inject IToastService toastService

<PageTitle>Kenye West - Citações</PageTitle>

<button class="btn btn-dark" @onclick="BuscarCitacao">Buscar Citação</button>
<br />
<br />
@citacao.Frase

@code {
    Citacao citacao { get; set; }

    protected override async Task OnInitializedAsync()
    {
        citacao = new Citacao();
    }

    private async Task BuscarCitacao()
    {
        try
        {
            citacao = await citacaoService.BuscarCitacao();
        }
        catch (Exception ex)
        {
            toastService.ShowError(ex.Message, "Erro ao buscar citação do Kenye West");
        }
    }
}
