@using Microsoft.AspNetCore.Components.Web
@namespace FindE.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link href="_content/Blazored.Toast/blazored-toast.min.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="FindE.styles.css" rel="stylesheet" />
    <link href="_content/Blazored.Typeahead/blazored-typeahead.css" rel="stylesheet" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            Ocorreu um erro. Este aplicativo pode não responder mais até ser recarregado.
        </environment>
        <environment include="Development">
            Ocorreu uma exceção não tratada. Consulte as ferramentas de desenvolvimento do navegador para obter detalhes.
        </environment>
        <a href="" class="reload">Recarregar</a>
        <a class="dismiss">🗙</a>
    </div>
    <script src="_framework/blazor.server.js"></script>
    <script src="~/js/bootstrap/bootstrap.bundle.js"></script>
    <script src="_content/Blazored.Typeahead/blazored-typeahead.js"></script>
</body>
</html>
