@page "/sobre"

<PageTitle>Sobre</PageTitle>

<body>
    <section class="bg-light w-100">
    <div class="container">
        <div class="row d-flex align-items-center py-5">
            <div class="col-lg-6 text-start">
                <h1 class="h2 py-5 text-primary typo-space-line">Sobre Nós</h1>
                <p class="light-300">
                    Somos um projeto criado por alunos do p-tech mentorados pela empresa <a href="https://sistemasbr.com.br/" target="_blank">SistemasBr</a>, temos como objetivo resolver o problema na hora da contratação de estagiários qualificados para suas determinadas vagas, mitigando custo e tempo que a empresa teria  preparando o estagiário.
                </p>
            </div>
            <div class="col-lg-6">
                <img src="~/imgs/banner-img-02.svg">
            </div>
        </div>
    </div>
</section>

</body>

@code {

}
