@page "/sobre"

<PageTitle>Sobre</PageTitle>

<img src="/logo_black.png" />

<p>
Somos um projeto criado por alunos do p-tech mentorados pela empresa <a href="https://sistemasbr.com.br/" target="_blank">SistemasBr</a>, temos como objetivo resolver o problema na hora da contratação de estagiários qualificados para suas determinadas vagas, mitigando custo e tempo que a empresa teria  preparando o estagiário.
</p>

@code {

}
