@page "/listagemEmpresa"

<h5>Listagem de Empresas</h5>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Responsável</th>
            <th>E-mail</th>
            <th>Whatsapp</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>01</td>
            <td>SistemasBR</td>
            <td>Fernando</td>
            <td>fernando@gmail.com</td>
            <td>(17)9 9722-2467</td>
        </tr>
        <tr>
            <td>02</td>
            <td>Via Certa</td>
            <td>Sem dono</td>
            <td>semdono@gmail.com</td>
            <td>(17)9 9734-1367</td>
        </tr>
    </tbody>
</table>

<button type="button" class="btn btn-outline-primary">Adicionar</button>
@code {

}
