@page "/listagemEmpresa"

<div>
    <div class="container-fluid" style="padding: 5px">
        <div class="row g-2">
            <div class="col-md-6">
                <h5>Empresas que estão cadastradas</h5>
            </div>
            <div class="col-md-2" style="padding-right: 2px">
                <input onkeyup="if (event.keyCode == 13) document.getElementById('btnPesquisarEmpresa').click()" type="text" class="form-control" placeholder="Empresas">
            </div>
            <div class="col-md-2">
                <button class="btn btn-outline-primary" type="button" id="btnPesquisarEmpresa">Pesquisar</button>
            </div>
            <div class="col-md-2">
                <a href="CadastroEmpresa"><button class="btn btn-success float-md-end" type="button" id="btnInserirEmpresa">Inserir</button></a>
            </div>
            <div class="table-responsive">
                <table class="table table-responsive-sm table-striped table-hover">
                    <thead>
                        <tr>
                            <th style="width: 80px" , valign="middle">ID</th>
                            <th>Nome da Empresa</th>
                            <th>Nome do Responsável</th>
                            <th>E-mail</th>
                            <th>Whatsapp</th>
                            <th><span class="float-sm-end">Ações</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>SistemasBR</td>
                            <td>Fernando</td>
                            <td>fernando@sistemas.br</td>
                            <td>(17)9 9158-5435</td>
                            <td>
                                <div class="float-sm-end">
                                    <button type="button" class="btn btn-primary btn-sm" title="Alterar conta">
                                        <div class="bi bi-pencil"></div>
                                    </button>
                                    <button type="button" class="btn btn-danger btn-sm" title="Apagar conta">
                                        <div class="bi bi-trash"></div>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@code {

}
