@inherits LayoutComponentBase

<PageTitle>FindE</PageTitle>

<body>
    <div class="page">
        <main>
            <BlazoredToasts Timeout="3"
                            ShowProgressBar="true"
                            Position="Blazored.Toast.Configuration.ToastPosition.BottomRight" />

            <nav id="main_nav" class="navbar navbar-expand-lg navbar-light bg-white shadow">
                <div class="container d-flex justify-content-between align-items-center">
                    <a class="navbar-brand h1" href="/">
                        <i class='bx bx-buildings bx-sm text-dark'></i>
                        <span class="text-dark h4">FindE</span>
                    </a>
                    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler-success" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="navbar-toggler-success">
                        <div class="flex-fill mx-xl-5 mb-2">
                            <ul class="nav navbar-nav d-flex justify-content-between mx-xl-5 text-center text-dark">
                                <li class="nav-item">
                                    <a class="nav-link btn-outline-primary rounded-pill px-3" href="/ListagemEstagiario">Estagiário</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link btn-outline-primary rounded-pill px-3" href="/ListagemEmpresa">Empresa</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link btn-outline-primary rounded-pill px-3" href="/ListagemDeEducadores">Educador</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link btn-outline-primary rounded-pill px-3" href="/ListagemDeContas">Conta</a>
                                </li>
                            </ul>
                        </div>
                        <div class="navbar align-self-center d-flex">
                            <a class="nav-link" href="#"><i class='bx bx-bell bx-sm bx-tada-hover text-primary'></i></a>
                            <a class="nav-link" href="#"><i class='bx bx-cog bx-sm text-primary'></i></a>
                            <a class="nav-link" href="#"><i class='bx bx-user-circle bx-sm text-primary'></i></a>
                        </div>
                    </div>
                </div>
            </nav>

            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
</body>

@code{
    
}