@inherits LayoutComponentBase

<PageTitle>FindE</PageTitle>

<div class="page">
    <main>
        <BlazoredToasts Timeout="3"
                        ShowProgressBar="true"
                        Position="Blazored.Toast.Configuration.ToastPosition.BottomRight" />



        <header id="header" class="d-flex align-items-center">
            <div class="container d-flex align-items-center justify-content-between">

                <h1 class="logo"><a href="index.html">FindE</a></h1>

                <nav id="navbar" class="navbar">
                    <ul>
                        <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                        <li><a class="nav-link scrollto" href="#about">Sobre nós</a></li>
                        <li><a class="nav-link scrollto" href="#services">Candidatos</a></li>
                        <li><a class="nav-link scrollto " href="#portfolio">Vagas</a></li>
                        <li class="dropdown">
                            <a href="#"><span>Empresas</span> <i class="bi bi-chevron-down"></i></a>
                            <ul>
                                <li><a href="CadastroEmpresa">Cadastrar empresa</a></li>
                                <li><a href="ListagemEmpresa">Listar empresas</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href=""><span>Estagiários</span> <i class="bi bi-chevron-down"></i></a>
                            <ul>
                                <li><a href="CadastroEstagiario">Cadastrar estagiário</a></li>
                                <li><a href="ListagemEstagiario">Listar estagiários</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#"><span>Educadores</span> <i class="bi bi-chevron-down"></i></a>
                            <ul>
                                <li><a href="CadastroDeEducador">Cadastrar educador</a></li>
                                <li><a href="ListagemDeEducadores">Listar educador</a></li>
                            </ul>
                        </li>
                        <li><a class="nav-link scrollto" href="#contact">Contato</a></li>
                    </ul>
                    <i class="bi bi-list mobile-nav-toggle"></i>
                </nav>
            </div>
        </header>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
