@inherits LayoutComponentBase

<PageTitle>FindE</PageTitle>

<div class="page">
    <main>
        <BlazoredToasts Timeout="3"
                        ShowProgressBar="true"
                        Position="Blazored.Toast.Configuration.ToastPosition.BottomRight" />

        <nav class="navbar navbar-expand-lg bg-light sticky-top shadow-sm">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="/logo_black.png" height="24" width="24">
                    <span>FindE</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary" href="ListagemEstagiario">Estagiários</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="listagemEmpresa">Empresas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="ListagemDeEducadores">Educadores</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="ListagemDeContas">Contas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="sobre">Sobre</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="login">Login</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav align-content-sm-end mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link">
                                <i class="bi bi-search"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">
                                <i class="bi bi-bell"></i>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="login" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-person"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="#">Meu perfil</a></li>
                                <li><a class="dropdown-item" href="#">Configurações</a></li>
                                <li><a class="dropdown-item" href="#">Sair</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
