@inherits LayoutComponentBase

<PageTitle>FindE</PageTitle>

<div class="page">
    <main>
        <BlazoredToasts Timeout="3"
                        ShowProgressBar="true"
                        Position="Blazored.Toast.Configuration.ToastPosition.BottomRight" />

        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="/logo_black.png" height="24" width="24"> 
                    <span>FindE</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="previsaoDoTempo">Previsão</a>
                        </li>
                        <li>
                            <a class="nav-link" href="cep">Cep</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                APIs
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="chuckNorris">Chuck Norris</a></li>
                                <li><a class="dropdown-item" href="conselho">Conselho</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="nav-link" href="/sobre">Sobre</a>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Pesquisar</button>
                    </form>
                </div>
            </div>
        </nav>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
