@page "/CadastroEmpresa"
@using FindE.Features.CadastroEmpresa.EmpresaModel
@using FindE.Features.Cep.Models
@inject FindE.Features.Cep.Services.CepService cepService
@inject IToastService toastservice

<PageTitle>Cadastro</PageTitle>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Cadastro de Empresa</h5>
        <br />
        <form class="row g-3">
            <div class="col-md-6">
                <label for="NomeEmpresa" class="form-label">Nome da Empresa:</label>
                <input type="text" class="form-control" id="NomeEmpresa">
            </div>
            <div class="col-md-6">
                <label for="nomeResponsavel" class="form-label">Nome do Responsável:</label>
                <input type="text" class="form-control" id="NomeResponsavel">
            </div>
            <div class="col-md-6">
                <label for="Email" class="form-label">E-mail:</label>
                <input type="email" class="form-control" id="Email">
            </div>
            <div class="col-4">
                <label for="Whattsapp" class="form-label">Whattsapp:</label>
                <input type="tel" class="form-control" id="Whattsapp">
            </div>
            <div class="mb-3">
                <label for="file" class="form-label">Coloque a foto da sua empresa:</label>
                <input type="file" class="form-control" aria-label="file example" required>
                <div class="invalid-feedback">Example invalid form file feedback</div>
            </div>
            <h5 class="card-title">Informe seu CEP</h5>
            <div class="col-md-10">
                <input @bind="endereco.Cep" autofocus type="text" class="form-control" id="txtCep" placeholder="Informe um cep">
            </div>
            <div class="col-md-2">
                <button type="button" @onclick="BuscarEnderecoPorCep" class="form-control btn btn-dark">Buscar</button>
            </div>
            <div class="col-12">
                <label for="txtLogradouro" class="form-label">Logradouro:</label>
                <input @bind="endereco.Logradouro" type="text" class="form-control" id="txtLogradouro">
            </div>
            <div class="col-6">
                <label for="txtBairro" class="form-label">Bairro:</label>
                <input @bind="endereco.Bairro" type="text" class="form-control" id="txtBairro">
            </div>
            <div class="col-6">
                <label for="txtComplemento" class="form-label">Complemento:</label>
                <input @bind="endereco.Complemento" type="text" class="form-control" id="txtComplemento">
            </div>
            <div class="col-md-8">
                <label for="txtCidade" class="form-label">Cidade:</label>
                <input @bind="endereco.Localidade" type="text" class="form-control" id="txtCidade">
            </div>
            <div class="col-md-2">
                <label for="txtUf" class="form-label">UF:</label>
                <input @bind="endereco.Uf" type="text" class="form-control" id="txtUf">
            </div>
            <div class="col-md-2">
                <label for="txtDdd" class="form-label">DDD:</label>
                <input @bind="endereco.Ddd" type="text" class="form-control" id="txtDdd">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-dark">Cadastre-se</button
            </div>
        </form>
    </div>
</div>

@code {
    Endereco endereco { get; set; }

    protected override async Task OnInitializedAsync()
    {
        endereco = new Endereco();
    }

    private async Task BuscarEnderecoPorCep()
    {
        try
        {
            endereco = await cepService.RetornarEndereco(endereco.Cep.Replace("-", "").Replace(".", ""));
        }
        catch (Exception ex)
        {
            toastservice.ShowError(ex.Message, "Erro ao buscar por cep");
        }
    }
}
